.headerButtonSection {
    float: right;
    clear:right;
}

.headerSignInButton {
    color: white;
}

.headerSignUpButton {
    background-color: White;
    color: #C290FF;
    /* display items horizontally */
    display: flex;
    align-items: center;
    
}

/* Center .heroSection */
.heroSection {
    margin: 0 auto;
    clear: both;

    text-align: center;
    align-items: center;
    align-content: center;
}


.gradientText {
    background-image: linear-gradient(225deg, rgba(140,154,255,1) 0%, rgba(194,144,255,1) 100%);
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@media screen and (min-width: 601px) {
    .headerButtonSection {
        font-size: 22.5px;
        padding-top: 9px;
    }

    .headerSignInButton {
        padding-right: 20px;
    }

    .headerSignUpButton {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 50px;
    }

    .heroSection {
        padding-top: 75px;
    }

    .heroImageContainer {
        padding-top: 30px;
        display: flex;
        justify-content: center;
    }

    .heroSectionH1 {
        font-size: 100px;
        font-weight: 700;
        font-family: 'Space Mono';

        color: White;
    }

    .heroSectionH2 {
        font-size: 50px;
        font-weight: bold;
        color: White;
    }
}


@media screen and (max-width: 600px) {
    .headerButtonSection {
        font-size: 13px;
        padding-top: 3px;
    }

    .headerSignInButton {
        padding-right: 10px;
    }

    .headerSignUpButton {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 20px;
    }

    .heroSection {
        padding-top: 15px;
    }

    .heroImageContainer {
        padding-top: 12.5px;
        display: flex;
        justify-content: center;
    }

    .heroSectionH1 {
        font-size: 37px;
        font-weight: 700;
        font-family: 'Space Mono';

        color: White;
    }

    .heroSectionH2 {
        font-size: 20px;
        font-weight: bold;
        color: White;
    }
}